<div class="container">
  <div class="row">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row m-3 justify-content-lg-center">
    <%= link_to user_path(@user.id) do %>
    <div class="col-xl-6 col-lg-2 col-md-3">
      <%= attachment_image_tag @user, :profile_image, size: "70x70", fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
    </div>
    <div class="col-xl-6 col-lg-8 col-md-6 d-flex align-items-center">
      <%= @post.user.name %>
    <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-8 text-center">
      <%= attachment_image_tag @post, :image, :fill, 700,700 %>
    </div>
  </div>
  <div class="row my-2 justify-content-lg-center">
    <div class="col-xl-2 col-lg-4 col-md-6">
      投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col-xl-5 col-lg-4 col-sm-5 text-right">
      <div id="star-rate-<%= @post.id %>">
        <label>おすすめ度:</label>
      </div>
      <script>
        $('#star-rate-<%= @post.id %>').raty({
          size:36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
          score: <%= @post.rate %>
        });
      </script>
    </div>
    <div class="col-xl-1 col-lg-1 col-sm-1">
      <%= @post.rate %>
    </div>
  </div>
  <div class="row my-2 justify-content-lg-center">
    <div class="col-xl-8 col-lg-9">
      <h3><%= @post.title %></h3>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-xl-8 col-lg-9">
      <%= @post.review %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-xl-8 col-lg-9">
      <% @post_tags.each do |tag| %>
        <%= link_to tag.name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %>
      <% end %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-1">
      <% if @post.favorited_by?(current_user) %>
        <%= link_to post_post_favorites_path(@post), method: :delete, class: 'favorite' do %>
          ♥<%= @post.post_favorites.count %>
        <% end %>
      <% else %>
        <%= link_to post_post_favorites_path(@post), method: :post, class: 'not_favorite' do %>
          ♡<%= @post.post_favorites.count %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-11 text-right">
      <% if @post.user == current_user %>
        <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: '本当に削除しますか？'} %>|
        <%= link_to "編集", edit_post_path(@post) %>
      <% end %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-xl-8 col-lg-9 mt-3">
      <h5>店舗住所</h5>
      <%= @post.address %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div id="map"></div>
    <script>
      function initMap(){
      const test ={lat: <%= @post.latitude || 35.6809591 %>, lng: <%= @post.longitude || 139.7673068 %>};
      const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
      });

      const transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      const contentString = '住所：<%= @post.address %>';
      const infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      const marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
      });

      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </div>
</div>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-xl-8 col-lg-9">
      コメント件数：<%= @post.post_comments.count %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-xl-8 col-lg-9">
      <% if @error_comment.present? %>
        <div id="error_explanation">
          <h3>エラー</h3>
          <ul>
          <% @error_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows:'2', :size=>"80", placeholder: "コメントはこちら" %>
          <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-5 justify-content-center">
    <% @post.post_comments.each do |post_comment| %>
      <div class="col-xl-1 col-lg-1 col-sm-2 text-center">
        <%= attachment_image_tag @user, :profile_image, size: "70x70", fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
      </div>
      <div class="col-xl-7 col-lg-8 col-sm-10">
        <div class="row ml-sm-2 mt-sm-2">
          <div class="col-xl-12 col-lg-12 col-sm-12 text-left">
            <%= post_comment.user.name %>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12 text-left">
            <%= post_comment.comment %>
          </div>
          <div class="col-xl-2 col-lg-2 col-sm-2 text-left">
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="col-xl-10 col-lg-10 col-sm-10 text-left">
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <%= paginate @comment %>
  </div>
  <div class="row my-5 justify-content-center">
    <div class="col-3">
      <%= link_to "戻る", :back, class:"btn btn-outline-secondary btn-block" %>
    </div>
    <div class="col-3">
      <%= link_to "一覧画面", posts_path, class:"btn btn-outline-secondary btn-block" %>
    </div>
  </div>
</div>